@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/FONT/Roboto-Thin-100.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/FONT/Roboto-Light-300.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/FONT/Roboto-Regular-400.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/FONT/Roboto-Medium-500.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/FONT/Roboto-Bold-700.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/FONT/Roboto-Black-900.ttf);
    font-weight: 900;
}
