@import url(reset.css);
@import url(fonts.css);
/* 'Roboto', sans-serif */
/* шрифты поключены через отдельный файл */
/* стилизация в rem - так будет удобнее масштабтровать макет через 
   изменения в корневом эелементе html */
/* Все прарметы цветовой палитры переведены в формат HEX */
/* Структра классов расшифрована в файле index.html */


/* -------------КОРНЕВОЙ ЭЛЕМЕНТ------------ */
html{
    background-color:#ece7e7; 
    font-family:'Roboto', sans-serif ;
    font-weight: 400;
}

*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------------Body-ОБЁРТКА------------ */

.page__wrapper{
    /* width: 85.38rem; */
    /* сделал ширину на всю область просмотра - так гораздо лучше выглядит
    при желении можно поставить то, что по макету  */
    width: 100vw; 
    min-height: 100vh;
    /* Высоту не ограничиваем */
    /* height: 48rem; */
    margin: auto;
    
    background-image: url('../IMG/3.BACKGROUNDS/Main_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
/* Анимация при наведении - так макет выгляди более стильно) */
.page__wrapper:hover{
    background-image: url('../IMG/3.BACKGROUNDS/Night_Milano_for_background-hover.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    transition: ease-in-out 6s;

}

/* -------------ОБЁРТКА контента----------- */
/* Так удобнее работать с контентом для центрирования по центру области просмотра */
.content-box{
    width: calc(85.38rem - 20rem);
    height: 100%;

    margin: auto;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
}
/* -------------Струкрутра страницы при помощи семантических блоков----------- */
.content-box__header{
    width: 100%;
    height: 7.75rem;

    margin-bottom: 1.063rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-end;
}
/* блок main - будет занимать всегда ширину между header & footer - которые придавлены ввверх и вниз */
.content-box__main{
    flex-grow: 1 1 0;
}

.content-box__footer{
    width: 100%;
    height: 5.25rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
}

/* ----- Настраиваем блок header --------------------*/

/* Обрасть навигации */
.header__navbar{
    width: 100%;
    height: 3.82rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

/* Блок навигации в виде ненумерованного списка - он же грид-контейнер для навигации */
.header-navbar__menu{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 155px 1fr 1fr 1fr 1fr 400px;
}
/* блок Лого ----------------------------------------- */
.menu-item__logo-milan{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.menu-item-logo-milan__link{
    display: block;
    width: 100%;
    height: 100%;
    
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: linear;
}

.menu-item-logo__text-link{
    text-transform:uppercase ;
    font-weight: 700;
    font-style: normal;
}
.menu-item-logo-milan-link__text_milan{
    font-size: 1.82rem;
    line-height: 1.82rem;
}

.menu-item-logo-milan-link__text_holidays{
    font-size: 1.13rem;
    line-height: 1.13rem;
}
/* блок контактов для связи----------------------- */

.menu-item__contacts{
    grid-column: 6 / 7;
    grid-row: 1 / 2;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-end;
}
/* e-mail для связи ------------------------------ */
.menu-item-contacts__e-mail{
    font-style: normal;
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 1.13rem;
    text-decoration: none;
    color: #FFFFFF;
}
.menu-item-contacts__e-mail:active{
    -webkit-text-fill-color: blue;
    -webkit-text-stroke-width: 0.063rem;
    -webkit-text-stroke-color:  #FFFFFF;
}

/* телефон  для связи ------------------------------ */
.menu-item-contacts__phone-number{
    font-style: normal;
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 1.13rem;
    text-decoration: none;
    color: #FFFFFF;

}
.menu-item-contacts__phone-number:active{
    -webkit-text-fill-color: blue;
    -webkit-text-stroke-width: 0.063rem;
    -webkit-text-stroke-color:  #FFFFFF;
}

/* Настройка псевдоэлеменртов и псевдоклассов для .header-navbar__menu */

.menu-item-logo-milan__link:hover{
    text-indent: 0.125rem;
    transform: scale(1.1);
}

/* Настройка псевдокласса для svg */
.menu-item-logo-milan__link:hover .menu-item-logo-milan-link__svg_g-surface{
    fill:#F26522;
   
    transition-property: color;
    transition-duration: 1.5s;
    transition-delay: 0s;
    transition-timing-function: linear;
}
/* Настройка псевдокласса для svg */
.menu-item-logo-milan__link:active .menu-item-logo-milan-link__svg_g-surface{
    fill:blue;
    stroke: red;
    stroke-width: 0.063rem; 
}
/* Настройка псевдокласса и псевдоэлемента для контактов */
.menu-item-contacts__phone-number:hover::before{
    content:"\260E  click to call us  > ";
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    padding-right: 0.313rem;

    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0s;
    transition-timing-function: linear;

}

.menu-item-contacts__phone-number:hover{
    color: #F26522;
    font-weight: 700;
    font-size: 1.188rem;
}

.menu-item-contacts__e-mail:hover{
    color: #F26522;
    font-weight: 700;
    font-size: 1.188rem;
}

.menu-item-contacts__e-mail:hover::before{
    content:"\0040  click to drop us  > ";
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    padding-right: 0.313rem;

    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0s;
    transition-timing-function: linear;
}

/* -------------БЛОК MAIN------------ */

/* настраиваем галлерею блока main с основными изображениями - сслыками  */
/* Блок main - grid- контейнер для универсальности верстки  */

.main__gallery_grid-box{
    display: grid;
    grid-template-columns: repeat(3, 18.75rem);
    grid-template-rows: repeat(2, 16.32rem);

    justify-content: space-between;
    row-gap: 2.32rem;
}


/* -------СТИЛИЗАЦИЯ КАРТОЧКИ ТУРА */
/* блок относительно которого позиционируем - RELATIVE */
.main-gallery__link-box{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;

    position: relative;
    perspective: 12.5rem;
    perspective-origin: center;

}
/* Блок с картинкой ----------------------------------------------*/
.main-gallery__image-box{
    width: 18.75rem;
    height: 13.75rem;
    
    font-size: 0;

    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-size: cover;   
    
}
/* -Стилизация фонов для каждой карточки отдельно----------------------- */
.image-box__shopping{
    background-image: url('../IMG/2.MAIN_PICTURES/1-Shopping_Tours.svg');
}
.image-box__sightseeing{
    background-image: url('../IMG/2.MAIN_PICTURES/2-Sightseeing_Tours.svg');
}
.image-box__food{
    background-image: url('../IMG/2.MAIN_PICTURES/3-ImageFood_Tours.svg');
}
.image-box__nightlife{
    background-image: url('../IMG/2.MAIN_PICTURES/4-ImageBars_&_Nightlife.svg');
}
.image-box__architecture{
    background-image: url('../IMG/2.MAIN_PICTURES/5-ImageArt_&_Architecture.svg');
}
.image-box__walking{
    background-image: url('../IMG/2.MAIN_PICTURES/6-ImageWalking_Tours.svg');
}

/* --Настройка градиентной черно-белой рамки-- */
.main-gallery__image-link{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    overflow: hidden;
    
    border: 0.25rem solid;
    border-image: linear-gradient(to bottom, #e9ebe7, #343433) 60;  
}

/* Ссылка - заголовок для карточки тура------------------------------------ */

.main-gallery-image-title__link{
    display: inline-block;
    
    font-style: normal;
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 1.13rem;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, 7.5rem);
}

/* Настройка псевдоэлементов и псевдоклассов для main-gallery-------------  */

.main-gallery__link-box:hover .main-gallery-image-title__link{
    color: #F26522;
    text-decoration: dashed;
    font-weight: 500;
    font-size: 1rem;

    transition-property: all;
    transition-duration: 0.8s;
    transition-delay: 0s;
    transition-timing-function: linear;
    
}
.main-gallery-image-title__link:active{
    -webkit-text-fill-color: blue;
    -webkit-text-stroke-width: 0.063rem;
    -webkit-text-stroke-color:  #FFFFFF;

}

.main-gallery__link-box:hover .main-gallery__orange-toner{
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.90,-0.9,0.5, 1.9);
    transform: translate(0, -3.438rem);
}

.main-gallery__link-box:hover{
    transform: scale(1.1);
    transition-duration: 1.5s;
    transition-delay: 0s;
    transition-timing-function: linear;

}

.main-gallery__image-box:hover{
    transform: rotateX(4deg);
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: linear;
}

/* ---Стилизация всплывающего блока (оранжевый с ценой и стрелкой)--------------- */

.main-gallery__orange-toner{
    width: 100%;
    height: 100%;
    
    padding: 0.438rem 1rem 0.75rem 1rem;
   
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;

    background: #F26522;
    position: absolute;
    transform: translate(0, 0);

}
/* ссылка всплывающего блока ---------------------- */
.main-gallery-orange-toner__link{
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
}

/* Надпись from всплывающего блока ------------------ */
.main-gallery-orange-toner__from{
    font-size: 0.625rem;
    line-height: 0.625rem;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF; 
}

/* Надпись price всплывающего блока ------------------ */
.main-gallery-orange-toner__price{
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;

    position: absolute;
    margin-top: 1.188rem;

    transition-property: all;
    transition-duration: 0.7s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    
    
}
/* Настройка псевдоэлемента - знак валюты для price всплывающего блока ------------------ */
.main-gallery-orange-toner__price::before{
    content: "\20AC";
    padding-right: 0.125rem;

    font-size: 1.25rem;
    line-height: 1.25rem;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}
/* Настройка псевдокласса для price всплывающего блока ------------------ */
.main-gallery-orange-toner__price:hover{
    transform: scale(1.4);
    
}

/* Надпись view-details всплывающего блока ------------------ */

.main-gallery-orange-toner__view-details{
    font-size: 0.875rem;
    line-height: 0.875rem;
    margin-top: 1.375rem;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;

    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;

}
/* Настройка псевдоэлемента - знак валюты для view-details всплывающего блока ------------------ */

.main-gallery-orange-toner__view-details::after{
    content: ">";
    padding-left: 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #FFFFFF;
    text-decoration: none;
}
/* Настройка псевдокласса для view-details всплывающего блока ------------------ */

.main-gallery-orange-toner__view-details:hover{
    font-size: 1rem;
    line-height: 1rem;
}


/* НАСТРОЙКИ ПСЕВДОКЛАССОВ И ПСЕВДОЭЛЕМЕНТОВ  для view-details --------------- */

.view-details__shopping:hover::after{
    content: "> click here \1F457  \1F460";
    padding-left: 0.313rem;
    Font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 0.938rem;
    color: #FFFFFF;
    text-decoration: none;

    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: linear;
}

.view-details__sightseeing:hover::after{
    content: "> click here \1F4F8  \1F63B";
    padding-left: 0.313rem;
    Font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 0.938rem;
    color: #FFFFFF;
    text-decoration: none;

    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: linear;
}

.view-details__food:hover::after{
    content: "> click here \1F377  \1F37D";
    padding-left: 0.313rem;
    Font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 0.938rem;
    color: #FFFFFF;
    text-decoration: none;

    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: linear;
}

.view-details__nightlife:hover::after{
    content: "> click here \1F483  \1F57A";
    padding-left: 0.313rem;
    Font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 0.938rem;
    color: #FFFFFF;
    text-decoration: none;

    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: linear;

}

.view-details__architecture:hover::after{
    content: "> click here \1F3F0  \1F451";
    padding-left: 0.313rem;
    Font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 0.938rem;
    color: #FFFFFF;
    text-decoration: none;

    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: linear;

}

.view-details__walking:hover::after{
    content: "> click here \1F6F4  \1F6A0";
    padding-left: 0.313rem;
    Font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 0.938rem;
    color: #FFFFFF;
    text-decoration: none;

    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: linear;

}

/* Настройка содержимого блока footer */

.footer__copyright-text{
    display: inline-block;

    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.75rem;

    color: #FFFFFF;
  
    margin-bottom: 0.938rem;

    
}
